In [2]:
import pandas as pd
import requests

In [3]:
og_df = pd.read_csv("./who_ambient_air_quality.csv")
og_df

,who_region,iso3,country_name,city,year,version,pm10_concentration,pm25_concentration,no2_concentration,pm10_tempcov,pm25_tempcov,no2_tempcov,type_of_stations,reference,web_link,population,population_source,latitude,longitude,who_ms
0,3_Sear,IND,India,Chennai,2018,version 2022,NaN,30.0,NaN,NaN,91.0,NaN,NaN,"U.S. Department of State, United States Enviro...",https://www.airnow.gov/index.cfm?action=airnow...,9890427.0,NaN,13.087840,80.278470,1
1,3_Sear,IND,India,Solapur,2016,"version 2022, version 2018",NaN,39.0,NaN,NaN,99.0,NaN,NaN,"Central Pollution Control Board India, Environ...",NaN,985568.0,NaN,17.659919,75.906391,1
2,3_Sear,IND,India,Chennai,2019,version 2022,NaN,39.0,NaN,NaN,85.0,NaN,NaN,"U.S. Department of State, United States Enviro...","[[[""EPA AirNow DOS"",""http://airnow.gov/index.c...",9890427.0,NaN,13.087840,80.278470,1
3,3_Sear,IND,India,Hyderabad,2019,version 2022,NaN,42.0,NaN,NaN,87.0,NaN,NaN,"U.S. Department of State, United States Enviro...","[[[""EPA AirNow DOS"",""http://airnow.gov/index.c...",8943523.0,NaN,17.384050,78.456360,1
4,3_Sear,IND,India,Pune,2017,version 2022,NaN,43.0,NaN,NaN,NaN,NaN,NaN,"Central Pollution Control Board India, Environ...",http://www.cpcb.gov.in/CAAQM/,5727530.0,NaN,18.505320,73.823839,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41359,5_Emr,SAU,Saudi Arabia,Jizan,2014,version 2023,148.0,NaN,NaN,NaN,NaN,NaN,NaN,"Ministry of Environment, Water, and Agriculture",NaN,127743.0,NaN,16.885875,42.573386,1
41360,5_Emr,SAU,Saudi Arabia,Jizan,2013,version 2023,208.0,NaN,NaN,NaN,NaN,NaN,NaN,"Ministry of Environment, Water, and Agriculture",NaN,127743.0,NaN,16.885875,42.573386,1
41361,5_Emr,SAU,Saudi Arabia,Jizan,2012,version 2023,184.0,NaN,NaN,NaN,NaN,NaN,NaN,"Ministry of Environment, Water, and Agriculture",NaN,127743.0,NaN,16.885875,42.573386,1
41362,5_Emr,SAU,Saudi Arabia,Jizan,2011,version 2023,316.0,NaN,NaN,NaN,NaN,NaN,NaN,"Ministry of Environment, Water, and Agriculture",NaN,127743.0,NaN,16.885875,42.573386,1
41363,5_Emr,SAU,Saudi Arabia,Jizan,2010,version 2023,198.0,NaN,NaN,NaN,NaN,NaN,NaN,"Ministry of Environment, Water, and Agriculture",NaN,127743.0,NaN,16.885875,42.573386,1

In [4]:
columns_selection = ["country_name","pm25_concentration","year"]
clean_df = og_df[columns_selection].dropna(subset=["pm25_concentration"])
gb = clean_df.groupby(["country_name","year"]).mean().reset_index()
gb

    country_name  year  pm25_concentration
0    Afghanistan  2019          120.000000
1        Albania  2014           14.666667
2        Albania  2015           16.250000
3        Albania  2016           17.666667
4        Albania  2017           14.000000
..           ...   ...                 ...
688     Viet Nam  2016           44.666667
689     Viet Nam  2017           40.500000
690     Viet Nam  2018           33.500000
691     Viet Nam  2019           39.500000
692     Viet Nam  2020           23.600000

[693 rows x 3 columns]

In [10]:
countrygroup = og_df.groupby(['country_name'])
lat=countrygroup['latitude'].first()
long=countrygroup['longitude'].first()
coordinates_df = pd.DataFrame({'latitude':lat, "longitude":long})
coordinates_df.head()

               latitude  longitude
country_name
Afghanistan   34.535810  69.190510
Albania       41.111000  20.081700
Algeria       36.755800   3.039110
Andorra       42.509694   1.539138
Argentina    -34.560000 -58.506000

In [12]:
merge_df = pd.merge(gb,coordinates_df,on='country_name')
merge_df.head()

  country_name  year  pm25_concentration  latitude  longitude
0  Afghanistan  2019          120.000000  34.53581   69.19051
1      Albania  2014           14.666667  41.11100   20.08170
2      Albania  2015           16.250000  41.11100   20.08170
3      Albania  2016           17.666667  41.11100   20.08170
4      Albania  2017           14.000000  41.11100   20.08170

In [ ]:
pd.read_csv